@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

#navBar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 24px 48px 0px 48px;
}

#brandLogo {
    height: 38px;
    width: 38px;
    background-color: #473A2E;
    border-radius: 20px;
}

#brandName {
    font-size: 48px;
    margin: 6px 48px 20px 0px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    color: #473A2E;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.ulHolder {
    display: flex;
    font-family: 'Open Sans', sans-serif;
}

#navUl {
    display: flex;
}

#navUl li {
    margin-right: 48px;
    list-style: none;
    font-size: 24px;
    font-weight: 400 !important;
}

#navUl li a {
    text-decoration: none;
    color: #696161;
}

#navUl li a:hover {
    color: #DB6516;
    cursor: pointer;
    font-weight: 700;
}

.userButtons {
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: space-evenly;
}

.userButtons:hover {
    cursor: pointer;
}

@media (min-width:768px) and (max-width:1023px) {

    #navBar {
        padding: 24px 8px 0px 8px;
        flex-direction: column;
    }

    #brandName {
        font-size: 1.5em;
        margin-right: 0px;
    }

    #brandLogo {
        height: 18px;
        width: 18px;
    }

    #navUl li {
        font-size: 16px !important;
    }

    .userbuttonImages {
        width: 15%;
        margin-top: 8px;
    }
}

@media(min-width:1024px) and (max-width:1439px) {

    #navBar {
        flex-direction: column;
    }

    #brandName {
        font-size: 2em;
    }

    #brandLogo {
        height: 24px;
        width: 24px;
    }

    .userbuttonImages {
        width: 21%;
        margin-top: 14px;
    }
}