/* Hides the logo */
.formDivHeader {
    display: none;
}

/* Sign up form */

#signUpform {
    margin-top: 10%;
}

#signUpform input {
    height: 42px;
    font-size: initial;
    padding: 5px;
    background: #FFFFFF;
    border-radius: 6px;
    border: 1px solid #DB6516;
}

input:focus {
    outline: 1px solid rgba(227, 125, 14, 1);
}

#email,
#contactNumber {
    width: 100% !important;
}

#firstName,
#lastName {
    width: 95%;
}

label {
    margin: 15px 0px;
}

#signUpform button {
    height: 42px;
    width: 48%;
    font-size: 2.2em;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 6px;
    border: 1px solid #DB6516;
}

.namesContainer {
    display: flex;
    justify-content: space-between;
}

#selectOne {
    margin-top: 15px;
    font-size: 19px;
}

.optionHolder {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    background: #FFFFFF;
    border-radius: 6px;
    border: 1px solid #DB6516;
}

#breeder,
#owner {
    accent-color: #DB6516;
}

#breeder:focus,
#owner:focus {
    outline: none;
}

.buttonContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 24px;
}

#backTologin {
    background: #FFFFFF;
    color: #DB6516;
}

#backTologin:hover {
    box-shadow: 0px 10px 20px rgba(30, 30, 30, 0.15);
}

#createAcc {
    background: linear-gradient(89.17deg, #DB6516 0%, #E37D0E 100%);
    color: #FFFFFF;
}