/* Hides the logo */
.formDivHeader {
    display: none;
}

#formContainer {
    margin-left: 88px !important;
}

/* Sign up form */

#signUpform input {
    height: 42px;
    font-size: initial;
    padding: 5px;
    background: #FFFFFF;
    border-radius: 6px;
    border: 1px solid #DB6516;
}

input:focus {
    outline: 1px solid rgba(227, 125, 14, 1);
}

label {
    margin: 21px 0px 12px 0px;
}

#email,
#contactNumber {
    width: 598px !important;
}

#firstName,
#lastName {
    margin-right: 32px;
    width: 279px;
}

#signUpform button {
    height: 42px;
    width: 40%;
    margin-right: 32px;
    margin-left: 13px;
    font-size: 2.4em;
    font-weight: 700;
    padding: 2px;
    border-radius: 6px;
    border: 1px solid #DB6516;
}

.namesContainer {
    display: flex;
}

#selectOne {
    margin: 24px 0px 10px 0px;
    font-size: 24px;
    font-weight: 700;
}

.optionHolder {
    height: 72px;
    width: 598px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    background: #FFFFFF;
    border-radius: 15px;
    border: 1px solid #DB6516;
}

#breeder {
    background: linear-gradient(89.17deg, #DB6516 0%, #E37D0E 100%);
    border-radius: 15px 0px 0px 15px;
    box-shadow: 0px 10px 20px rgba(227, 125, 14, 0.3);
}

#breeder,
#owner {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
    height: 100%;
    width: 50%;
    color: #FFFFFF;
}

#owner {
    color: #DB6516;
}

#breeder:hover,
#owner:hover {
    cursor: pointer;
}

.buttonContainer {
    display: flex;
    margin-top: 64px;
}

#backTologin {
    background: #FFFFFF;
    color: #DB6516;
}

#backTologin:hover {
    box-shadow: 0px 10px 20px rgba(30, 30, 30, 0.15);
}

#createAcc {
    background: linear-gradient(89.17deg, #DB6516 0%, #E37D0E 100%);
    color: #FFFFFF;
}