@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
    padding: 0%;
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
    color: #473A2E;
}

h1 {
    text-align: center;
}

#loginPortal,
.loginFormDiv,
#brandName,
#forgotPass,
#notRegistered,
.otp {
    display: flex;
    justify-content: center;
}

#imgContainer {
    background-image: url(assets/images/horsesInstable.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

.loginFormDiv {
    flex-direction: column;
    font-size: 10px;
    background-color: #FFF6EC;
    margin-left: -70px;
    width: 100%;
    height: auto;
    border-radius: 80px 0px 0px 80px;
}

#formContainer{
    margin-left: 56px !important;
}

.formDivPadding {
    padding: 20px;
}

.formDivHeader {
    margin: 2% 0%;
    font-size: 10px;
}

#brandLogo {
    height: 24px !important;
    width: 24px !important;
    background-color: #473A2E;
    border-radius: 20px;
}

#brandName {
    font-size: 2.4em !important;
    margin-bottom: 80px !important;
    margin-right: 24px !important;
    align-items: center !important;
    font-weight: 700;
}

/* Login Form */


#signInform {
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
    display: table;
}

label {
    font-size: 2.1em;
    color: rgba(105, 97, 97, 1);
    font-weight: 600;
}

/* #signIn, */
#signUp {
    font-size: 3.6em;
    margin-top: -12px;
    font-weight: 700;
}

#signInform input {
    height: 52px;
    width: 100%;
    margin-top: 12px;
    font-size: initial;
    padding: 5px;
    background: #FFFFFF;
    border-radius: 15px;
    border: 1px solid #DB6516;
}

input:focus {
    outline: 1px solid rgba(227, 125, 14, 1);
}

a {
    text-decoration: none;
    color: #1977F3;
}

a:hover {
    color: #1977F3;
}

#signInform button {
    width: 100%;
    height: 52px;
    border-radius: 15px;
    font-size: 2em;
    padding: 3px;
    font-weight: 700;
}

button:hover {
    cursor: pointer;
    box-shadow: 0px 10px 20px rgba(227, 125, 14, 0.3);
}

#forgotPass {
    font-size: 1.7em;
    margin: 13px 0px 24px 0px;
    justify-content: flex-end;
    font-weight: 600;
}

#notRegistered {
    justify-content: start;
    font-size: 1.7em;
    margin: 10px 0px 32px 0px;
    font-weight: 600;
    color: #335232;
    ;
}

#createAccount:hover,
#forgotPass:hover,
#signUp a:hover {
    text-decoration: underline;
}

.otp {
    font-size: 3em;
    align-items: center;
    margin: 20px;
}

#otpSignIn {
    color: #727272;
    font-weight: 400;
    font-size: 17px;
}

.line {
    background-color: #727272;
    width: 160px;
    height: 1px;
}